<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Azure Search Settings -->
    <add key="SearchServiceName" value="antho-test" />
    <add key="SearchServiceKey" value="72F8A2C87D4A3057EDAA8BFCFEB0D287" />
    <add key="SearchIndexName" value="images" />
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="publishbottest" />
    <add key="MicrosoftAppId" value="732b2258-17ed-423e-9c49-919a3eafa043" />
    <add key="MicrosoftAppPassword" value="#VLTwk-$wq@yybbG" />
  </appSettings>
</configuration>